---
---

@import "{{ site.theme }}";
#main_content {
    max-width: 960px;
}
#main_content_wrap {
    background: #606060;
}
body {
    color: #dddddd;
    text-shadow: -1px -1px #404040;
}
img {
    max-width: 960px;
}
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}
