---
---

@import "{{ site.theme }}";
#main_content {
    max-width: 960px;
}
#main_content_wrap {
    background: #606060;
}
body {
    color: #eeeeee;
    text-shadow: -1px -1px #404040;
}
img {
    max-width: 960px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
    border: none !important;
    padding: 0px;
    margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}
h4 {
    border-top: 3px solid #eeeeee;
}
table {
    border: none;
}
td {
    vertical-align: top;
    border: none;
}
th {
    padding: 4px 10px;
}